apiVersion: v1
kind: Secret
metadata:
  name: soundstorm-environment
type: Opaque
data:
  secret-key-base:
  database-url:
  redis-url:
  elasticsearch-url:
  host:
  cdn-url:
  aws-access-key:
  aws-secret-key:
  aws-s3-bucket:
  aws-region:
  sendgrid-username:
  sendgrid-password:
  admin-username:
  admin-password:
